
.linen{
    background: #FAF0E6;
}

.orange1{
    background: #FFCB98;
}

.orange2{
    background: #F9BC60;
}

.lightBlue{
    background: #70DCFE;
}

.white{
    background: #FFFFFF;
}

.red1{
    background: #E87A7A;
}

.red2{
    background: #FF5656;
}


.green{
    background:#96D379 ;
}
.black{
    background:#000000;
}


