.home__page{
    position: table; 
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 30px;
}

.content{
    position:relative;
    top: 60px;
    margin: 20px;
  
}

.content__part4,
.content__part3,
.content__part2,
.content__part{
    position: absolute;
    margin-left:20px;
    width: 100%;
    
}
.content__part3{
    top: 500px;
}
.content__part2{
    top: 250px;
}
.content__part4{
    top: 750px;
}
.part__mus__artist,
.part__mus {

    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
   
}

.mus_item{
    scroll-snap-align: start;
    display: flex;
}

.part__mus__artist div,
.part__mus div{
    margin-right:30px;
    width: 130px;
    height:130px;
    border-radius: 15px;
    border: 1px solid black; /* Параметры границы */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.part__mus__artist div{
    border-radius: 50%;
}
.part__mus__artist h6,
.part__mus h6{
   position: absolute;
   bottom: -30px;
}

header, footer{
    background-color: #FFCB98;
    width: 100%;

}
header{
    height: 150px;
    top: 0px;
}

footer{
    position: fixed; /* Фиксированное положение */
    display: inline-block;
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%;
    height: 75px;

}





.manager_buttun{
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    width: 300px;
    margin: 15px auto;
    text-align: center;
}


.media{
    position: absolute;
    top: 25%;
    right: 1%;
    margin-left: 10px;
}


.media_img{
    width: 25px;
    height: 25px;
    margin: 5px;
}


.logo{
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top:10px;
    margin-left: 10px;
}


.logo-text{
    display: inline-block;
    text-align: center;
    width: 350px;
    position: absolute;
    top:50px;
}

.logo1{
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top:10px;
}


.logo-text1{
    display: inline-block;
    text-align: center;
    width: 350px;
    position: absolute;
    top:50px;
    left: 50px;
}


.prof{
    position: absolute;
    top: 0;
    right: 15%;

}



